# See LICENSE file in this repo for license details.

# https://medium.com/@porteneuve/how-to-make-git-preserve-specific-files-while-merging-18c92343826b
# https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Merge-Strategies

# The development branch tracks a different version of Go and a different
# version of build images; prevent merging conflicts to these files.
#
# NOTE: You still need to configure a 'ours' merge strategy in order to have
# these settings take effect.
#
# Per repo:
#
# $ cd /path/to/repo
# $ git config merge.ours.driver true
#
# Globally:
#
# $ git config --global merge.ours.driver true

dependabot/docker/builds/Dockerfile merge=ours
dependabot/docker/go/Dockerfile merge=ours

# Preserve existing line endings in testdata files; explicitly disable any
# potential automatic end of line conversion due to client-specific
# `core.autocrlf` or `core.eol` values.
#
# https://git-scm.com/docs/gitattributes#_checking_out_and_checking_in
# https://stackoverflow.com/a/2825829
testdata/ -text
